h1 {

}

button img {
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
  }

  .flex-child {
    flex: 1;
    border: 2px solid;
    
  }

  .flex-child:first-child {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    
  }

  button {
    width: 30px;
    height: 30px;
    background-color: black;
    padding: 0;
  }
