body {
    margin: 0;
    background-color: rgba(50,52,69,255);
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: hsl(0, 0%, 20%, .7);
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
  }

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  h1 {
    width: 100%;
    color: white;
    font-size: 40px;
    margin: 0;
  }

  h3, h2 {
    color: white;
  }



  section {
    background-color: rgba(35,37,51,255);
    height: 600px;
    padding-left: 15%;
    padding-right: 15%;
  }

  section:nth-child(odd){
    background-color: rgba(50,52,69,255);
  }

  section div {
    margin-top: auto;
    margin-bottom: auto;
  }

  .flex-container {
    display: flex;
  }

  .flex-child {
    flex: 1;
    border: 2px solid;
  }

  .flex-child:first-child {
    margin-right: 20px;
  }

  .skill-box {
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
    margin: 10px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

  }

  .grid-item {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: 5px;
  }